<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en" th:fragment="head">
    <title>Feeddit</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../../static/css/style.css"
          th:href="@{css/style.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/images/ag04logo.png"
          th:href="@{images/ag04logo.png}" rel="icon" type="image/png"/>
</head>
<body>

</body>
</html>